.sales-by-gender-container {
  padding: 40px 50px 90px 15px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sales-by-gender-text {
  display: flex;
  flex-direction: column;
}

.sales-by-gender-total-sales-value {
  color: var(--primary-color);
}

.sales-by-gender-total-sales-text {
  font-size: 18px;
}

.sales-by-gender-chart {
  margin-top: 52px;
}
